.wrapTitle-DarkMode {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 3em;
  margin-bottom: 0.7em;
  padding: 2em 0;
  background-color: var(--colorBackgroungItems);
  /*   border: 1px solid red; */
}
.containerHeader {
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.3);
  background-color: var(--colorBackgroungItems);
  margin-bottom: 1.5em; /* 
  border: 1px solid green; */
  padding-bottom: 2em;
}
.title {
  cursor: pointer;
  text-decoration: none;
  font-size: 3em;
  font-weight: 600;
  color: var(--colorSpinner);
}
.wrapDarkMode {
  cursor: pointer;
  color: var(--colorText);
}
.wrapDarkMode:hover{
  color: var(--colorSpinner);
  transition: .3s all ease;
}
.fa-sun {
  margin-right: 5px;
}
.fa-moon {
  margin-right: 5px;
  transform: rotate(-30deg);
}
@media screen and (min-width: 1000px) {
  .wrapTitle-DarkMode {
    /*  padding: 0.7em 3em; */
    position: relative;
    margin: 0 4em;
    height: 15vh;
    justify-content: space-between;
  }
  .title {
    font-size: 4em;
  }
  .containerHeader {
    padding-bottom: 0;
  }
}
