.filterRating{
  width: 4.5em;
  margin: 0 5px;
  cursor: pointer;
  color: var(--colorText);
  border: 1px solid var(--colorText);
  border-radius: 8px;
  background-color: var(--colorBackgroungItems);
}

.filterRating:focus{
outline: none;
}