.tittleTopics {
  color: var(--colorText);
  margin-bottom: 10px;
}
.wrap-categori-TrendigTopics {
  padding: 0 1em 2em;
}
.wrap-categori-TrendigTopics a {
  text-decoration: none;
  color: var(--colorText);
  text-transform: capitalize;
  padding: 0 5px;
}
.wrap-topics a:hover {
  color: var(--colorText2);
  background-color: var(--colorBackgroungItems);
  transition: 0.4s all ease;
  border-radius: 30px;
}
@media screen and (min-width: 1000px) {
  .wrap-categori-TrendigTopics {
    padding: 0 10px 0 0;
    width: 230px;
  }
  .wrap-categori-TrendigTopics a {
    display: block;
  }
}
