.wrapInputSearch {
  border-radius: 6px;
  min-height: 5vh;
  max-width: 90vw;
  display: grid;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(auto-fit, minMax(3em, 1fr));
  grid-auto-rows: minMax(1em, auto);
}
.wrapForm{
  display: flex;
  justify-content: center;
}
.fa-search {
  padding: 0 7px;
  color: var(--colorText2);
}
.button{
  border: none;
  cursor: pointer;
  border-radius: 8px 0 0 8px;
  padding: 2px;
  background-color: var(--colorSpinner);
}

@media screen and (min-width: 1000px) {
  .wrapForm {
    position: absolute;
    top: 35px;
    left: 25%;
  }
}
