* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  scroll-behavior: smooth;

  background-color: var(--colorBodyBackgrund);
}
body::-webkit-scrollbar {
  display: none;
}
body.isDarkMode {
  --colorBackgroungItems: #1f1f1f;
  --colorBodyBackgrund: #121212;
  --colorText: #e2e2e2;
  --colorSpinner: #09f;
  transition: 0.3s ease all;
}
:root {
  --colorBackgroungItems: #6200ed;
  --colorBodyBackgrund: #ffffff;
  --colorText: #262626;
  --colorSpinner: #09f;
  transition: 0.3s ease all;
}
