* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
  background-color: var(--colorBodyBackgrund);

  --colorBackgroungItems: #fff;
  --colorBodyBackgrund: #eeeeee;
  --colorSecundary: #6200ed;
  --colorText: #262626;
  --colorText2: #e2e2e2;
  --colorSpinner: #09f;
  transition: 0.3s ease all;
}
body::-webkit-scrollbar {
  display: none;
}
body.isDarkMode {
  --colorBackgroungItems: #1f1f1f;
  --colorBodyBackgrund: #121212;
  --colorText: #e2e2e2;
  --colorSpinner: #09f;
  transition: 0.3s ease all;
}

