.containerGifList {
  padding: 0 1em;
  margin-bottom: 1em;
  flex-grow: 2;
}
.tittleGifList {
  text-transform: capitalize;
  margin-bottom: 5px;
  color: var(--colorText);
}
.wrpaListOfGifs {
  min-height: 110vh;
  display: grid;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(auto-fit, minMax(150px, 1fr));
  grid-auto-rows: minMax(175px, auto);
  gap: 5px;
}
.fa-chart-line {
  margin-left: 5px;
  color: var(--colorText);
}
.wrapImgGif:nth-child(11n + 1) {
  grid-column: span 2;
  grid-row: span 2;
}

.wrapImgGif:nth-child(8n + 1) {
  grid-column-end: span 2;
  grid-row-end: span 1;
}

.wrapImgGif:nth-child(10n + 3) {
  grid-column: span 2;
  grid-row: span 2;
}
